<div class="container-fluid">
  <div class="span8">
    <fieldset>
      <legend>No.<%= @user.id%> user</legend>
      <div class="control-group">
        <label class="control-label">Email</label>
        <div class="controls">
          <%= @user.email %>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Nick name</label>
        <div class="controls">
          <%= @user.nickname %>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Location</label>
        <div class="controls">
          <%= @user.location %>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Gender</label>
        <div class="controls">
          <%= @user.gender ? 'Male' : 'Female' %>
        </div>
      </div>
    </fieldset>
  </div>
</div>
