<div class="container-fluid">
  <div class="row-fluid">
    <div class="span8">
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal'} ) do |f| %>
        <fieldset>
          <legend><%= t('devise.views.sessions.new.title') %></legend>
          <div class="row row-grid">
            <div class="span6 offset1">
              <%= print_error_messages resource %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :email, :class => 'control-label' %>
            <div class="controls">
              <%= f.email_field :email, :class => 'input-large' %>
            </div>
          </div>
          <div class="control-group" >
            <%= f.label :password, :class => 'control-label' %>
            <div class="controls">
              <%= f.password_field :password, :class => 'input-large' %>
            </div>
          </div>
          <% if devise_mapping.rememberable? -%>
            <div class="control-group" >
              <div class="controls">
                <label class="checkbox" for="<%= :remember_me %>"><%= f.check_box :remember_me %><%= t('devise.views.sessions.new.remember_me') %></label>
              </div>
            </div>
          <% end -%>
          <div class="form-actions" >
            <%= f.submit t('devise.views.sessions.new.submit'), :class => 'btn btn-primary' %>
            <%= link_to 'Sign in by Weibo', user_omniauth_authorize_path(:weibo), :class => 'btn btn-primary' %>
          </div>
        </fieldset>
      <% end %>
    </div>

    <div class="span4">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">
            <%= t('devise.views.commons.sidebar.title') %>
          </li>
          <%= render :partial => "devise/shared/links" %>
        </ul>
      </div>
    </div>

  </div>
</div>
