<h1>Listing posts</h1>

<%= link_to 'New Post', new_post_path if can? :create, Post %>

<table class="table">
  <tr>
    <th>Title</th>
    <th>User</th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= link_to post.title, post %></td>
    <td><%= post.user %></td>
    <td><%= link_to 'Edit', edit_post_path(post) if can? :manage, post %></td>
    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } if can? :manage, post %></td>
  </tr>
<% end %>
</table>

<%= paginate @posts, :theme => :bootstrap %>
