<div class="header">
  <h1><%= @post.title %></h1><small><%= @post.user %> <%= @post.created_at.to_date.strftime %></small>
  <%= link_to 'Edit', edit_post_path(@post), :class => 'btn' if can? :manage, @post %>
</div>
<div class="body">
  <%= safe @post.body %>
</div>

<hr/>

<div>
  <%= render @comments %>
  <%= paginate @comments, :param_name => :comments_page, :theme => :bootstrap %>
</div>

<div>
  <%= render 'comments/form' if can? :create, Comment %>
</div>
